.number-1-header{
    text-align: center;
}

.red-text{
    color: red;
}

.green-background{
    background-color: green;
}

.border{
    border: 2px solid black;
}

.highlight{
    background-color: yellow;
}


